<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iitdh.sonusourav.instigo">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_instigo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_instigo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait"
        android:largeHeap="true"
        android:hardwareAccelerated="false"
        android:configChanges="keyboardHidden|orientation|screenSize">
        <activity
            android:name=".Login.SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Login.IntroScreen"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity android:name=".TestActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
        <activity android:name=".Login.LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustPan" >

        </activity>
        <activity android:name=".Login.RegisterActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustPan" >


        </activity>
        <activity android:name=".Login.ForgotPassword"
            android:theme="@style/AppTheme.NoActionBar.TitleBar"
            />

        <activity android:name=".Council.CouncilActivity"
            android:theme="@style/AppTheme.NoActionBar.TitleBar"
            />

        <activity android:name=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar.TitleBar"
            />

        <activity android:name=".Mess.MessActivity"
            android:theme="@style/AppTheme.NoActionBar.TitleBar"
           />
        <activity android:name=".Complaints.ComplaintsActivity"
            android:theme="@style/AppTheme.NoActionBar.TitleBar"
            />


        <activity android:name=".Complaints.ComplainRegister"
            >
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".Complaints.ComplaintsActivity" />
        </activity>

        <activity android:name=".Complaints.ComplainStatus"
        >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Complaints.ComplaintsActivity" />
        </activity>
        <activity android:name=".Complaints.StatusDetails"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Complaints.ComplaintsActivity" />
        </activity>

        <activity android:name=".Council.CouncilWarden"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Council.CouncilActivity" />
        </activity>
        <activity android:name=".Council.CouncilGenSecy" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Council.CouncilActivity" />
        </activity>

        <activity android:name=".Council.CouncilSportsSecy">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Council.CouncilActivity" />
        </activity>
        <activity android:name=".Council.CouncilCulturalSecy" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Council.CouncilActivity" />
        </activity>
        <activity android:name=".Council.CouncilFHostelSecy" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Council.CouncilActivity" />
        </activity>
        <activity android:name=".Council.CouncilFHosMainSecy" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Council.CouncilActivity" />
        </activity>
        <activity android:name=".Council.CouncilFMessSecy" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Council.CouncilActivity" />
        </activity>
        <activity android:name=".Council.CouncilEmergency">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Council.CouncilActivity" />
        </activity>
        <activity android:name=".Council.CouncilFSportsSecy">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Council.CouncilActivity" />
        </activity>
        <activity android:name=".User.UpdatePassword"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".User.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".User.EditInfoActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".User.ProfileActivity" />
        </activity>
        <activity android:name=".Resources.ResourceActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".Resources.CS.CSResourceDocs"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Resources.CS.CSBranch" />
        </activity>
        <activity android:name=".Resources.CS.CSBranch"
           >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Resources.ResourceActivity" />
        </activity>
        <activity android:name=".Resources.EE.EEBranch"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Resources.ResourceActivity" />
        </activity>
        <activity android:name=".Resources.EE.EEResourceDocs"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Resources.EE.EEBranch" />
        </activity>
        <activity android:name=".Resources.ME.MEBranch">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Resources.ResourceActivity" />
        </activity>
        <activity
            android:name=".Resources.ME.MEResourceDocs"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Resources.ME.MEBranch" />
        </activity>
        <activity
            android:name=".Resources.Common.CommonBranch">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Resources.ResourceActivity" />
        </activity>
        <activity
            android:name=".Resources.Common.CommonResourceDocs"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Resources.Common.CommonBranch" />
        </activity>
        <activity android:name=".Feedback"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <receiver android:name=".Mess.messnotification.AlarmBootReceiver"></receiver>
        <receiver android:name=".Mess.messnotification.BreakfastAlarmReceiver"></receiver>
        <receiver android:name=".Mess.messnotification.LunchAlarmReceiver"></receiver>
        <receiver android:name=".Mess.messnotification.TiffinAlarmReceiver"></receiver>
        <receiver android:name=".Mess.messnotification.DinnerAlarmReceiver"></receiver>
    </application>
</manifest>