<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iitdh.sonusourav.instigo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_instigo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_instigo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait"
        android:largeHeap="false"
        android:configChanges="keyboardHidden|orientation|screenSize">
        <activity
            android:name=".Login.SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login.IntroScreen"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".TestActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
        <activity android:name=".Login.LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustPan" >

        </activity>
        <activity android:name=".Login.RegisterActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustPan" >


        </activity>
        <activity android:name=".Login.ForgotPassword"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".CouncilActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".HomeActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".Mess.MessActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
           />
        <activity android:name="com.iitdh.sonusourav.Maintenance.MaintenanceActivity" />
    </application>
</manifest>